.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
* {
  box-sizing: border-box;
}
.list-item {
  border-bottom: 2px solid #475569;
  list-style-type: none;
}
.username-container {
  display: flex;
  align-items: center;
}
.initial-container {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
.username {
  font-weight: bold;
  margin-right: 10px;
}
.date-time {
  color: #cbd2d9;
}
.like-delete-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid #475569;
}
.like-button-container {
  border-bottom: 2px solid #475569;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blue-color {
  color: #0b69ff;
}
.gray-color {
  color: #475569;
}
.delete-button {
  background-color: transparent;
  border: none;
}
.like-text {
  color: #475569;
  margin-left: 5px;
}
